* {
  background-clip: padding-box;
  -gtktoolbutton-icon-spacing: 4;
  -gtkdialog-button-spacing: 4;
  -gtkdialog-action-area-border: 0;
  -gtk-outline-radius: 0px;
  outline-style: none;
  outline-offset: 0px;
  outline-width: 0px;
  color: #ffffff;
  font-weight: bold;
  font-size: x-large;
}

/* the panel widget at the top */
#panel_window {
  background-color: rgba(0, 0, 0, 0);
}

/* the menubars/menus of the panel, i.e. indicators */
#panel_window menubar {
  border: solid rgba(0, 0, 0, 0);
  border-width: 20px 50px 20px 50px;
}

#panel_window menubar > menuitem,
#panel_window menubar > separator {
  border: 11px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
}

#panel_window menubar > menuitem {
  background-color: rgba(30, 30, 30, 0.75);
  border-color: rgba(30, 30, 30, 0.75);
  color: inherit
}

#panel_window menubar menuitem:disabled {
  color: inherit;
}

#panel_window menubar menuitem:disabled label {
  color: inherit;
}

#panel_window menubar menu > menuitem {
  border: 8px solid rgba(30, 30, 30, 0.75);
  background-color: rgba(30, 30, 30, 0.75);
}

/* the top half of the login-window, in GtkDialog terms, the content */
#content_frame {
  padding-bottom: 15px;
  background-color: rgba(60, 60, 60, 0.5);
  border: solid rgba(30, 30, 30, 0.40);
  border-width: 8px 8px 0px 8px;
}

#content_frame button,
#content_frame button:hover,
#content_frame button:active,
#content_frame button:checked,
#content_frame button:disabled {
  background-color: rgba(0, 0, 0, 0);
}

/* the lower half of the login-window, in GtkDialog terms the buttonbox or action area */
#buttonbox_frame {
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: rgba(60, 60, 60, 0.5);
  border: solid rgba(30, 30, 30, 0.40);
  border-width: 0px 8px 8px 8px;
}

#buttonbox_frame button,
#buttonbox_frame button:hover,
#buttonbox_frame button:active,
#buttonbox_frame button:checked,
#buttonbox_frame button:disabled {
  background-color: rgba(30, 30, 30, 0.75);
  padding: 8px 15px;
  min-width: 70px;
}

/* the login window */
#login_window #user_combobox,
#login_window #username_entry,
#login_window #password_entry {
  padding: 8px 0px 8px 0px;
  background-color: green;
}

#login_window #user_combobox menu {
  padding: 8px;
  background-color: rgba(30, 30, 30, 0.40);
}
